@import url("chrome://global/skin/");
@import url("chrome://gmanager/skin/overlay.css");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
  Gmail Manager NG
  Erik Nedwidek (http://github.com/nedwidek)
  Based on Gmail Manager by Todd Long <longfocus@gmail.com>
*/

#gmanager-login-email {
	min-width: 250px;
}